/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Post/Post.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Post_post__acRqJ {
  width: 100%;
  height: auto;
  padding: 0vh 8vw;
  padding-top: 150px;
  padding-bottom: 20vh;
}
.Post_post__acRqJ h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 100px;
}
.Post_post__acRqJ a {
  display: flex;
  align-items: center;
}
.Post_post__acRqJ a svg {
  margin-right: 10px;
}
.Post_post__acRqJ .Post_post_detail__mppri {
  margin-top: 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  border: 1px solid var(--color);
  overflow: hidden;
  position: relative;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 {
  width: 100%;
  height: 350px;
  padding: 10px 7%;
  background: linear-gradient(90deg, #000 0%, rgba(15, 5, 23, 0.65) 77.08%, rgba(74, 25, 112, 0.25) 100%);
  border-bottom: 1px solid var(--color);
  display: grid;
  align-items: end;
  padding-bottom: 40px;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 * {
  color: #fff;
  fill: #fff;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 .Post_views__W_gFF {
  display: flex;
  align-items: center;
  font-family: var(--roboto);
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 .Post_views__W_gFF span {
  margin-left: 10px;
  margin-right: 10px;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 .Post_views__W_gFF div {
  display: flex;
  align-items: center;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 .Post_views__W_gFF div svg {
  margin-right: 5px;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 h1 {
  text-align: left;
  margin-top: 15px;
  font-weight: 900;
  padding-bottom: 10px;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 .Post_tags__KAWVb {
  display: flex;
  list-style: none;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_info__7sVJ0 .Post_tags__KAWVb li:not(:first-child) {
  margin-left: 15px;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_text__r9jVz {
  padding: 15px 7%;
  position: relative;
}
.Post_post__acRqJ .Post_post_detail__mppri .Post_text__r9jVz img {
  width: 40%;
  height: auto;
}
