.slide {
  height: 350px;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;

  @media(max-width: 800px) {
    height: auto;
    width: auto;
    padding-right: 0;

    &:not(:first-child) {
      margin-top: 100px;
    }
  }

  .slide_info {
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(52, 98, 89, 0.65) 0%, rgba(52, 98, 89, 0.25) 57.29%, rgba(52, 98, 89, 0.00) 100%);
    padding: 40px 40px;

    .status {
      display: flex;
      align-items: center;

      p {
        margin-left: 5px;
        font-family: var(--inter);
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    h2 {
      margin-top: 10px;
      font-family: var(--roboto-slab);
      font-size: 70px;
    }

    p {
      font-family: var(--roboto-slab);

      @media(max-width: 800px) {
        &.pg {
          width: 70vw;
        }
      }
    }

    button {
      background: #346259;
      border-radius: 15px;
      color: #fff;
      padding: 10px 30px;
      border: 0;
      margin-top: 30px;
      cursor: pointer;
    }

    @media(max-width: 800px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: none;
    }
  }

  .slide_image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 80%;
      width: auto;

      @media(max-width: 800px) {
        height: auto;
        width: 70vw;
      }
    }

  }

  @media(max-width: 800px) {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}